<!DOCTYPE html>
<head>
    <title>Bill's Awesome Webpage</title>
</head>
<body>
    <h1>Hire Bill at HPC!</h1>
    <br>
    <h3>He's hardworking, diligent and a barrel of laughs, just the kind of guy you need!</h3>
</body>
</html>